*.bak
*.pyc
*.pyo
*~
Frontend.egg-info
/data
app.log
.ropeproject
.idea
/docs/doctrees
/docs/html
./developer_*.py
.idea/
TAGS
app.log
content/tmp/resources/-145379256.png
/data
/content/tmp
.DS_Store
.project
.coverage
coverage_html_report
/build
/dist
/external/solr/logs
/external/solr/multicore/qa
/external/solr/multicore/web
django_cms/media/filer_private/
django_cms/media/filer_public/
tags
/django_cms/media/filer_private/
/django_cms/media/filer_public/
